body{
background-color:#121212;
color:#fff;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight:bold;
display:flex;
flex-direction: column;
align-items: center;
}
header{
    text-align: center;
}

#choices{

    margin-bottom: 40px;
    flex-wrap: wrap;

}
#choices button{
    font-size: 7rem;
    border-radius: 50%;
    padding: 10px;
    margin: 4px;
    min-width: 150px;
    background-color: hsl(220, 51%, 73%);
    cursor:pointer;
    transition: background-color 0.3s ease;
}
#choices button:hover{
     background-color: hsl(220, 51%, 90%);  
     border-color: red;
     transform: scale(1.1);

}
#playerDisplay,#computerDisplay{

    font-size: 2.5rem;

}

#resultDisplay{
    font-size: 4rem;
    margin: 30px 0 ;
    
}
.scoreDisplay{
    font-size: 2rem;
}
.reset{
    margin-top: 30px;
    background-color: #ffde34;
    min-width:150px;
    color:#333 ;
    min-height:50px;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 50px;
}
.reset:hover{
    transform: scale(1.1);
}
#playerScoreDisplay,.win{
    color:green;

}
#computerScoreDisplay,.lost{
    color:red;
}
button,#choices button{
    --webkit-tap-highlight-color:transparent;
}
.draw{
    color:blue;
}


@media(max-width:767px){
    html{
        font-size: 12px;
    }
#choices button{
    font-size: 7rem;
    border-radius: 50%;
    padding: 2px;
    display:flexbox;
    flex-wrap: wrap;
    align-items: center; 
    align-content:flex-start;
    margin-left: 10px;
    margin-top: 30px;
    
}
#choices button:last-child{
    margin-left: 100px;
}
.scoreDisplay{
    font-size: 2rem;
}
#resultDisplay{
    font-size: 4rem;
    margin: 20px 0 ;
    
}
}